body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:0px;
  width:780px;
  height:580px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:580px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:380px;
  top:150px;
  width:480px;
  height:60px;
  font-family:'Adobe 宋体 Std L Oblique', 'Adobe 宋体 Std';
  font-weight:300;
  font-style:oblique;
  font-size:48px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-18px;
  width:476px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:270px;
  top:150px;
  width:100px;
  height:90px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:680px;
  top:325px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7 {
  position:absolute;
  left:680px;
  top:370px;
  width:100px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u8 {
  position:absolute;
  left:640px;
  top:429px;
  width:135px;
  height:26px;
  font-family:'Adobe 黑体 Std R Bold', 'Adobe 黑体 Std';
  font-weight:700;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:26px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:160px;
  top:503px;
  width:470px;
  height:70px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:70px;
}
#u11 {
  position:absolute;
  left:2px;
  top:27px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:770px;
  top:150px;
  width:90px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:592px;
  top:402px;
  width:53px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:707px;
  top:399px;
  width:84px;
  height:25px;
  overflow:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'Arial Negreta cursiva', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u16_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'Arial Negreta cursiva', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u16_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'Arial Negreta cursiva', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:639px;
  top:399px;
  width:63px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u24 {
  position:absolute;
  left:787px;
  top:397px;
  width:30px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
