body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1248px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:0px;
  width:982px;
  height:203px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:203px;
}
#u1 {
  position:absolute;
  left:2px;
  top:94px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:906px;
  top:244px;
  width:2px;
  height:3px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:48px;
  top:204px;
  width:988px;
  height:48px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:984px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:120px;
  top:213px;
  width:80px;
  height:39px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
  opacity:0.8;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:226px;
  top:213px;
  width:80px;
  height:39px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
  opacity:0.8;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:332px;
  top:213px;
  width:80px;
  height:39px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
  opacity:0.8;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:437px;
  top:213px;
  width:80px;
  height:39px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u12_img.mouseOver {
}
#u12.mouseOver {
  opacity:0.8;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:543px;
  top:213px;
  width:80px;
  height:39px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
  opacity:0.8;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:648px;
  top:213px;
  width:83px;
  height:39px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
  opacity:0.8;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:753px;
  top:213px;
  width:80px;
  height:39px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
  opacity:0.8;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:866px;
  top:213px;
  width:80px;
  height:39px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
  opacity:0.8;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:50px;
  top:293px;
  width:160px;
  height:280px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:280px;
}
#u23 {
  position:absolute;
  left:2px;
  top:132px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:50px;
  top:252px;
  width:160px;
  height:40px;
  font-family:'宋体 Regular', '宋体';
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:70px;
  top:312px;
  width:120px;
  height:25px;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:70px;
  top:334px;
  width:120px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u29 {
  position:absolute;
  left:70px;
  top:342px;
  width:120px;
  height:25px;
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:70px;
  top:364px;
  width:120px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u32 {
  position:absolute;
  left:70px;
  top:372px;
  width:120px;
  height:25px;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:70px;
  top:394px;
  width:120px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u35 {
  position:absolute;
  left:70px;
  top:424px;
  width:120px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u36 {
  position:absolute;
  left:70px;
  top:432px;
  width:120px;
  height:25px;
  font-size:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u36_img.mouseOver {
}
#u36.mouseOver {
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:70px;
  top:454px;
  width:120px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u39 {
  position:absolute;
  left:70px;
  top:462px;
  width:120px;
  height:25px;
  font-size:14px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:70px;
  top:484px;
  width:120px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u42 {
  position:absolute;
  left:70px;
  top:492px;
  width:120px;
  height:25px;
  font-size:14px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u42_img.mouseOver {
}
#u42.mouseOver {
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:70px;
  top:514px;
  width:120px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u45 {
  position:absolute;
  left:70px;
  top:522px;
  width:120px;
  height:25px;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:70px;
  top:544px;
  width:120px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u48 {
  position:absolute;
  left:449px;
  top:262px;
  width:105px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:551px;
  top:257px;
  width:200px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u51 {
  position:absolute;
  left:224px;
  top:648px;
  width:810px;
  height:350px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:350px;
}
#u52 {
  position:absolute;
  left:2px;
  top:167px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:48px;
  top:999px;
  width:1200px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:1183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1200px;
  height:1px;
}
#u54 {
  position:absolute;
  left:270px;
  top:1009px;
  width:524px;
  height:16px;
  color:#666666;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:224px;
  top:288px;
  width:810px;
  height:350px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:350px;
}
#u57 {
  position:absolute;
  left:2px;
  top:167px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
