body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1248px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:224px;
  top:648px;
  width:810px;
  height:350px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:350px;
}
#u1 {
  position:absolute;
  left:2px;
  top:167px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:0px;
  width:982px;
  height:203px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:203px;
}
#u3 {
  position:absolute;
  left:2px;
  top:94px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:906px;
  top:244px;
  width:2px;
  height:3px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:48px;
  top:204px;
  width:988px;
  height:48px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:48px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:984px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:120px;
  top:213px;
  width:80px;
  height:39px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
  opacity:0.8;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:226px;
  top:213px;
  width:80px;
  height:39px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
  opacity:0.8;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:332px;
  top:213px;
  width:80px;
  height:39px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u12_img.mouseOver {
}
#u12.mouseOver {
  opacity:0.8;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:437px;
  top:213px;
  width:80px;
  height:39px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
  opacity:0.8;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:543px;
  top:213px;
  width:80px;
  height:39px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
  opacity:0.8;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:648px;
  top:213px;
  width:83px;
  height:39px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
  opacity:0.8;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:753px;
  top:213px;
  width:80px;
  height:39px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
  opacity:0.8;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:866px;
  top:213px;
  width:80px;
  height:39px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
  opacity:0.8;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:48px;
  top:999px;
  width:1200px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:1183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1200px;
  height:1px;
}
#u25 {
  position:absolute;
  left:270px;
  top:1009px;
  width:524px;
  height:16px;
  color:#666666;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:50px;
  top:293px;
  width:160px;
  height:280px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:280px;
}
#u28 {
  position:absolute;
  left:2px;
  top:132px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:50px;
  top:252px;
  width:160px;
  height:40px;
  font-family:'宋体 Regular', '宋体';
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:70px;
  top:312px;
  width:120px;
  height:25px;
  font-size:14px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:70px;
  top:334px;
  width:120px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u34 {
  position:absolute;
  left:70px;
  top:342px;
  width:120px;
  height:25px;
  font-size:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u34_img.mouseOver {
}
#u34.mouseOver {
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:70px;
  top:364px;
  width:120px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u37 {
  position:absolute;
  left:70px;
  top:372px;
  width:120px;
  height:25px;
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:70px;
  top:394px;
  width:120px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u40 {
  position:absolute;
  left:70px;
  top:424px;
  width:120px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u41 {
  position:absolute;
  left:70px;
  top:432px;
  width:120px;
  height:25px;
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:70px;
  top:454px;
  width:120px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u44 {
  position:absolute;
  left:70px;
  top:462px;
  width:120px;
  height:25px;
  font-size:14px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u44_img.mouseOver {
}
#u44.mouseOver {
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:70px;
  top:484px;
  width:120px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u47 {
  position:absolute;
  left:70px;
  top:492px;
  width:120px;
  height:25px;
  font-size:14px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:70px;
  top:514px;
  width:120px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u50 {
  position:absolute;
  left:70px;
  top:522px;
  width:120px;
  height:25px;
  font-size:14px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u50_img.mouseOver {
}
#u50.mouseOver {
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:70px;
  top:544px;
  width:120px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u53 {
  position:absolute;
  left:449px;
  top:262px;
  width:105px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:551px;
  top:257px;
  width:200px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u56 {
  position:absolute;
  left:224px;
  top:288px;
  width:810px;
  height:350px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:350px;
}
#u57 {
  position:absolute;
  left:2px;
  top:167px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1010px;
  top:648px;
  width:24px;
  height:22px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u59 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
